/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #3b3a3a;
}

@keyframes Animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
.title {
  font-size: 42px;
  font-family: "Onest", sans-serif;
  font-weight: 700;
}

.subtitle {
  font-size: 32px;
  font-family: "Onest", sans-serif;
  font-weight: 500;
}

.text {
  font-size: 16px;
  font-family: "Onest", sans-serif;
  font-weight: 400;
}

.btn {
  padding: 10px 20px;
  border: 2px solid #ddd;
  color: #ddd;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in;
}
.btn:hover {
  transform: scale(1.05);
  background-color: #ddd;
  color: #000;
}
.btn:active {
  position: relative;
  top: 1px;
}

.main {
  min-height: 100%;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.titles {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main__title {
  color: #ddd;
  position: absolute;
  transform: translate(0, -20px);
}

.main__title:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ddd;
}

.main__title:nth-child(2) {
  color: #ddd;
  animation: animate 4s ease-in-out infinite;
}

.main__subtitle {
  color: #ddd;
}

.main__list {
  padding: 10px 20px;
  border: 2px solid #feffdc;
  border-radius: 20px;
}
.main__list > :not(:last-child) {
  position: relative;
}
.main__list > :not(:last-child)::after {
  position: absolute;
  content: "";
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  background: #feffdc;
}

.main__list-item {
  padding: 20px 0;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in;
  transform: translate(-120%, 0px);
  animation-name: Swing;
  animation-duration: 1s;
}
.main__list-item._active {
  transform: translate(0, 0);
}
.main__list-item:hover {
  transform: scale(1.05);
}

.main__text {
  width: 350px;
  color: #ddd;
}
.main__text::-moz-placeholder {
  color: #ddd;
}
.main__text::placeholder {
  color: #ddd;
}

.main__list-button {
  width: 20px;
  height: 20px;
}
.main__list-button svg {
  fill: #ddd;
  transition: fill 0.2s ease-in;
}
.main__list-button svg:hover {
  fill: #f02020;
}

.main__swiper {
  position: relative;
}
.main__swiper .text {
  width: unset;
  font-size: 24px;
}

.main__slides-item {
  width: 544px;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: none;
  animation-name: Animation;
  animation-duration: 1s;
}
.main__slides-item._active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__arrows {
  top: 43.3333333333%;
  left: -3%;
  width: 106%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  position: relative;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.arrow:hover {
  background: rgba(230, 239, 255, 0.5);
  transform: scale(1.1);
}
.arrow:active {
  top: 1px;
  background: rgba(153, 175, 212, 0.8);
}

@media (max-width: 600px) {
  .main__list-item {
    max-width: 400px;
  }
  .main__slides-item {
    max-width: 444px;
    height: 250px;
  }
}
@media (max-width: 470px) {
  .title {
    font-size: 32px;
  }
  .main__list-item {
    max-width: 300px;
  }
  .main__slides-item {
    max-width: 344px;
  }
  .main__text {
    max-width: 250px;
  }
}
@media (max-width: 350px) {
  .main__list-item {
    max-width: 250px;
  }
  .main__slides-item {
    max-width: 264px;
  }
  .main__arrows {
    left: -7%;
    width: 114%;
  }
  .main__text {
    max-width: 200px;
  }
}/*# sourceMappingURL=main.css.map */